@layer reset, base, tokens, recipes, utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100dvw;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
